/* NavAuth.css */

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.group {
	position: relative;
}

/* Styling untuk dropdown */
.absolute {
	display: none; /* Awalnya sembunyikan dropdown */
}

.group:hover .absolute {
	display: block; /* Tampilkan dropdown saat parent dihover */
}
